.dashboard-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid #000e2c;
  }
  .header {
    background-color: #000e2c;
    color: white;
    width: 100%;
    text-align: center;
  }
  .messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 80%;
    overflow-y: auto;
  }

  .text-gray {
    color: gray;
  }

  .pl-1 {
    padding-left: 1em;
  }

  .dragParent {
    align-content: center;
    width: 100%;
  }

  .dragParent > div {
    align-content: center;
    width: 200px;
    margin: auto;
  }

  .dragParent > div > div {
    border: 1px solid black;
  }
  
  .message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  .attack-and-defense {
    position: absolute;
    right: 80px;
    margin-top: 10px;
    font-size: 20px;
  }

  .weather {
    text-align: right;
    margin-top: -40px;
    margin-right: 8px;
    margin-bottom: 10px;
  }

  .life-score {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .life-emoji {
    font-size: 40px;
  }


  .element-orders {
    position: absolute;
    right: 400px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .element-orders * {
    margin-top: auto;
    margin-bottom: auto;
  }

  .element-orders div {
      flex: 1;
      margin: 2px;
      text-align: center;
      align-items: center;
      justify-content: center;
    }


  .element-orders span {
      width: 45px;
      font-size: 25px;
      background: #0a0f0c;
      border: 1px solid black;
      cursor: pointer;
      padding: 2px;
      padding-left: 4px;
      padding-right: 4px;
      border-radius: 6px 30%;

    }

  .neighborhood-buttons {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-grow: 1;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .neighborhood-buttons > span {
    margin-top: 10px;
    margin-right: 20px;
    vertical-align: middle;
  }

  .neighborhood-buttons > .attackable {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    color: white;
    padding: 10px;
    text-shadow: 2px 2px black;
    font-size: 20px;
    margin-right: 10px;
  }

  .neighborhood-buttons > .queued {
    cursor: default;
    opacity: 0.5;
    padding: 10px;
    border-radius: 5px;
    color: white;
    padding: 10px;
    text-shadow: 2px 2px black;
    font-size: 20px;
    margin-right: 10px;
  }
  
  .element-buttons {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    flex-grow: 1;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .element-buttons div {
      flex: 1;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
    }

  .element-buttons button {
      width: 50px;
      height: 50px;
      font-size: 20px;
      vertical-align: middle;
      border-radius: 50%;
      box-shadow: 1px 1px 2px;
      background: #f5f5f5;
      background: #272845;

      border: 1px solid black;
      cursor: pointer;
    }

    .element-buttons .earth {
      font-size: 25px;
      padding-bottom: 4px;
    }

  h4 {
    margin-bottom: 5px;
  }
 
  .user {
    font-weight: bold;
    margin-right: 10px;
    /*color: #333;*/
  }
  
  .new-message-form {
    display: flex;
    width: 100%;
    padding: 10px;
  }
  
  .new-message-input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    color: #333;
    padding: 10px;
    border-radius: 5px 0 0 5px;
  }
  
  .send-button {
    border: none;
    outline: none;
    background: #000e2c;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 4px;
    margin-bottom: -6px;
    padding: 10px;
  }

  .new-nickname {
    position: absolute;
    right: 200px;
  }

  .new-nickname-input {
    width: 110px;
    outline: none;
    background: transparent;
    border: 1px dashed #7f7fbf;
    border-radius: 3px;
    margin-top: 2px;
    padding: 5px;
    margin-right: 3px;
  }

  #trollbox {
    width: 100%;
    padding-top: 1em;
    padding-left: 1em;
    border-top: 1px dashed black;
  }