body {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 10px;
  flex-direction: column;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #00011d1f;
}

.app-header {
  text-align: center;
  background-color: #000e2c;
  color: white;
  width: 100%;
}

.app-container {
  /*margin-top: 50px;*/
  width: 100%;
}

h2 {
  margin-block: auto;
}

.room {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.room label {
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}

.room input {
  width: 200px;
  height: 30px;
  border: 2px solid #3b5998;
  border-radius: 6px;
  padding-left: 5px;
  font-size: 20px;
  text-align: center;
  margin: 5px;
}
.room button {
  width: 210px;
  height: 40px;
  border: none;
  border-radius: 6px;
  padding-left: 5px;
  font-size: 20px;
  text-align: center;
  margin: 5px;
  background-color: #000e2c;
  color: white;
  cursor: pointer;
}

.sign-out {
  margin-top: 50px;
}

.centered {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

